@import url('https://fonts.googleapis.com/css2?family=Walter+Turncoat&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-align: center;
    transition: all 0.4s ease-in-out;
    font-family: 'Walter Turncoat';
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e8e8e8;
}

#clickGame{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#buttons{
    display: flex;
    align-items: center;
}

#clickButton{
    all:unset;
    width: 200px;
    height: 60px;
    border-radius: 30px;
    background-color: rgb(96, 195, 252);
    box-shadow: 0px 0px 10px rgba(12, 151, 231, 0.445);
    font-size: 2em;
    font-weight: bolder;
    transition: all 0.2s ease-in-out;
    color: white;
}
#clickButton:hover{
    transform: translateY(5px);
}
#clickButton:active{
    transition: all 0.01s ease-in-out;
    background-color: rgba(112, 203, 255, 0.582);
    box-shadow: none;
}

#counter{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.219);
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

#Clicks{
    text-align: center;
    font-size: 2.3em;
}

#Multiplier{
    font-size: 0.8em;
    color: rgba(255, 255, 255, 0.726);
}

#upgradeButton{
    all:unset;
    display: none;
    margin-left: 10px;
    padding:10px 15px;
    border-radius: 20px;
    background-color: rgba(17, 70, 214, 0.521);
    font-size: 0.8em;
    transition: all 0.2s ease-in-out;
    color: white;
    font-weight: bolder;
    box-shadow: 0px 0px 10px rgba(7, 9, 95, 0.397);
    animation-name: none;
    animation-duration: 0.3s;
}

#upgradeButton:hover{
    transform: translateY(5px);
}

#moreDiv{
    position: absolute;
    z-index: 3;
    transition: all 0.2s ease-in-out;
    font-size: 1.3em;
    font-weight: bolder;
    color: rgba(21, 90, 155, 0.486);
    animation-duration: 1s;
    animation-name: none;
}

#storeButton{
    all:unset;
    color: white;
    display: none;
    font-size: 2em;
    margin-top: 20px;
    border-radius: 20px;
    padding: 5px 20px;
    background-color: rgba(53, 202, 53, 0.589);
    box-shadow: 0px 0px 10px rgba(18, 156, 48, 0.603);
    font-weight: bolder;
    transition-property: transform;
    transition-duration: 0.2s;
    animation-name: none;
    animation-duration: 0.3s;
}

#storeButton:hover{
    transform: translateY(5px);
}
#storeButton:active{
    background-color: rgba(72, 202, 72, 0.39);
    box-shadow: none;
}

#Store{
    position: absolute;
    display: none;
    flex-direction: column;
    width: 450px;
    height: 500px;
    background-color: rgba(129, 129, 129, 0.322);
    border-radius: 10px;
    align-items: center;

    h1{
        margin:20px;
        color: white;
        text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.438);
    }

    #closeButton{
        all: unset;
        width: 100%;
        text-align: center;
        height: 20px;
        background-color: rgba(255, 0, 0, 0.288);
        color: white;
        font-weight: bolder;
        
    }
}

@keyframes more {
    from{
        transform: translateY(-40px);
    }
    to{
        transform: translateY(-70px);
        opacity: 0;
    }
}

@keyframes surgimento {
    from {
        transform: translateX(-40px);
    }
    to {
        transform: translateX(0px);
    }
}