@import url('https://fonts.googleapis.com/css2?family=Walter+Turncoat&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-align: center;
    transition: all 0.4s ease-in-out;
    font-family: 'Walter Turncoat';
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e8e8e8;
    overflow: hidden;
}

#clickGame{
    display: flex;
    justify-content: center;
    align-items: center;
}

#click-button{
    all:unset;
    justify-self: center;
    width: 200px;
    height: 60px;
    border-radius: 30px;
    background-color: rgb(96, 195, 252);
    box-shadow: 0px 0px 10px rgba(12, 151, 231, 0.445);
    font-size: 2em;
    font-weight: bolder;
    transition: all 0.2s ease-in-out;
    color: white;
    cursor: pointer;
    animation-name: none;
    animation-duration:4s;
    animation-iteration-count: infinite;
}
#click-button:hover{
    transform: translateY(5px);
}
#click-button:active{
    transition: all 0.01s ease-in-out;
    background-color: rgba(112, 203, 255, 0.582);
    box-shadow: none;
}

#counter{
    position: fixed;
    top: 0;
    left:0;
    width: 100vw;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.219);
    font-weight: bold;
    color: white;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

#counter-clicks{
    text-align: center;
    font-size: 2.3em;
}

#counter-multiplier{
    font-size: 0.8em;
    color: rgba(255, 255, 255, 0.726);
}

#upgrade-button{
    all:unset;
    width: 100px;
    display: none;
    border-radius: 10px 10px 0px 0px;
    margin:0px 5px;
    background-color: rgb(9, 107, 163);
    padding: 5px;
    font-size: 0.8em;
    transition: all 0.2s ease-in-out;
    color: white;
    font-weight: bolder;
    box-shadow: 0px 0px 10px rgba(7, 9, 95, 0.397);
    animation-name: none;
    animation-duration: 0.3s;
    transition: all 0.2s ease-in-out;
}

#upgrade-button:hover{
    box-shadow: 0px 0px 10px rgb(6, 55, 161);;
}

#store-button:hover{
    box-shadow: 0px 0px 10px rgb(8, 218, 53);
}

#moreDiv{
    position: absolute;
    z-index: 3;
    transition: all 0.2s ease-in-out;
    font-size: 0.8em;
    font-weight: bolder;
    color: rgba(21, 90, 155, 0.486);
    animation-duration: 1s;
    animation-name: none;
}

#store-button{
    all:unset;
    width: 100px;
    color: white;
    display: none;
    font-size: 2em;
    border-radius: 10px 10px 0px 0px;
    background-color: rgba(53, 202, 53, 0.589);
    box-shadow: 0px 0px 10px rgba(18, 156, 48, 0.603);
    margin:0px 5px;
    font-weight: bolder;
    padding: 5px;
    transition: all 0.2s ease-in-out;
    animation-name: none;
    animation-duration: 0.3s;
}



#store-button:active{
    background-color: rgba(67, 228, 67, 0.288);
    box-shadow: none;
}

footer{
    display: flex;
}

#Store{
    position: absolute;
    display: none;
    flex-direction: column;
    width: 450px;
    height: 500px;
    background-color: rgba(167, 167, 167, 0.322);
    border-radius: 5px;
    align-items: center;
    backdrop-filter: blur(10px);
    transform: translateY(90px);
    animation-duration: 0.4s;
    animation-name: none;

    #store-principal-title{
        margin:20px;
        color: white;
        text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.438);
        border-radius: 10px;
        font-size: 3em;
    }

    .upgrade{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 90%;
        height: 100px;
        border:1px solid rgb(255, 255, 255);
        margin: 30px 20px;
        border-radius: 5px;
        align-items: center;
        
    }

    .upgrade-content{
        text-align: left;
    }

    .header{
        display: flex;
    }

    .upgrade h1,p{
        margin-left:10px;
        text-align: left;
    }

    .upgrade-description{
        font-size: 0.7em;
    }
    .upgrade-name{
        font-size: 1.2em;
    }

    .upgrade-image{
        width: 50px;
        height: 50px;
        margin: 0px;
        margin-right:10px;
        transform: translateY(10px);
    }

    .upgrade-button-purchase{
        all:unset;
        background-color: rgb(113, 175, 113);
        color: white;
        border-radius: 10px;
        width: 90%;
        font-weight: bolder;
    }

    .upgrade-button-purchase:active{
        background-color: rgb(126, 196, 126);
    }


    /*Images*/

    #golden-click-image{
        background: rgba(255, 255, 255, 0) url('../Images/Golden-Click.png') center center no-repeat;
        background-size: cover;
    }

}

@keyframes more {
    from{
        transform: translate(100px,-70px);
    }
    to{
        transform: translate(100px,-90px);
        opacity: 0;
    }
}

@keyframes surgimento {
    from {
        transform: translateX(-40px);
    }
    to {
        transform: translateX(0px);
    }
}

@keyframes fadeInStore {
    from {
        transform: translateY(2000px);
    }
    to {
        transform: translateY(90px);
    }
}
@keyframes fadeOutStore {
    from {
        transform: translateY(80px);
    }
    to {
        transform: translateY(2000px);
    }
}

@keyframes goldenAnimation {
    0% {
        background-color: rgba(253, 251, 140, 0.774);
        box-shadow: none;
        color: black;
    }
    50%{
        background-color: rgba(241, 230, 75, 0.959);
        box-shadow: none;
        color: black;
    }
    100%{
        background-color: rgba(253, 251, 140, 0.774);
        box-shadow: none;
        color: black;
    }
}